@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hilangkan spinner di Chrome, Safari, Edge */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}
/* Hilangkan spinner di Firefox */
input[type=number] {
  -moz-appearance: textfield; 
  appearance: textfield; 
}

